@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Clash Display";
  src: url("../assets/fonts/OTF/ClashDisplay-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Clash Display";
  src: url("../assets/fonts/OTF/ClashDisplay-Extralight.otf");
  font-weight: 100;
}

@font-face {
  font-family: "Clash Display";
  src: url("../assets/fonts/OTF/ClashDisplay-Light.otf");
  font-weight: 200;
}
 @font-face {
  font-family: 'Ranade';
  src: url("../assets/fonts/Ranade/Fonts/OTF/Ranade-Regular.otf");
  font-weight: 400;
 }

 @font-face {
  font-family: 'Ranade';
  src: url("../assets/fonts/Ranade/Fonts/OTF/Ranade-Light.otf");
  font-weight: 200;
 }